.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.cover{
  height: 500px;
  background-image: url("/cover3.jpg");
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
  
}

.cover-title{
  color: white ;
  font-size: 6rem;
  font-weight: 800;
}

.cover-text{
  color: white ;
  font-size: 2rem;
  font-weight: 500;
}


.logo{
  width: 50px;
}

.title-detail{
  padding-left: 130px;
}

.container {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
}

.container p {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
